@model Kontrax.Regux.Model.UserManagement.UserCreateModel

@{
    ViewBag.Title = "Добавяне на служител";
}

@section Subtitle {
    @Html.ActionLink("Назад към списъка със служители", "Index", new { admId = Model.NewWorkplace.AdministrationId, level = Model.NewWorkplace.AccessLevelCode })
}

<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PersonName, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.PersonName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PersonName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewWorkplace.AdministrationId, new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.NewWorkplace.AdministrationId, new SelectList(Model.NewWorkplace.Administrations, "Id", "Name"), "---", new { @class = "form-control select2-search-select" })
                        @Html.ValidationMessageFor(model => model.NewWorkplace.AdministrationId)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewWorkplace.AccessLevelCode, new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.NewWorkplace.AccessLevelCode, new SelectList(Model.NewWorkplace.AccessLevels, "Code", "Name"), "---", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewWorkplace.AccessLevelCode)
                    </div>
                    @Html.LabelFor(model => model.SendSetPasswordEmail, new { @class = "control-label col-md-4" })
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.SendSetPasswordEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SendSetPasswordEmail, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <button type="submit" class="btn btn-primary col-md-12">Добавяне</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
