@model Kontrax.Regux.Model.Admin.AdminIndexPageModel

@{
    ViewBag.Title = "Администриране на системата";
}

@section Subtitle {
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Потребители</div>
            <div class="panel-body">
                <div class="btn-group-vertical col-md-12">
                    @Html.ActionLink("Служители на администрации", "Index", "UserManagement", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Граждани, подавали сигнали", "Index", "Citizen", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsGlobalAdmin)
    {
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Настройки</div>
                <div class="panel-body">
                    <div class="btn-group-vertical col-md-12">
                        @Html.ActionLink("Изпращане на електронна поща", "Smtp", "GlobalAdmin", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Номенклатури</div>
            <div class="panel-body">
                <div class="btn-group-vertical col-md-12">
                    @Html.ActionLink("RegiX удостоверения", "Index", "RegiXReport", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Административни услуги", "Index", "Service", null, new { @class = "btn btn-default" })
                    <hr />
                    @Html.ActionLink("Администрации", "Index", "Administration", new { psp = false }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Доставчици на обществени услуги", "Index", "Administration", new { psp = true }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsGlobalAdmin)
    {
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Обновяване от други системи</div>
                <div class="panel-body">
                    <div class="btn-group-vertical col-md-12">
                        @Html.ActionLink("Обновяване от RegiX", "UpdateRegiXReports", "RegiXReport", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Обновяване от ИИСДА", "Index", "Iisda", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
