@model Kontrax.Regux.Model.Account.ForgotPasswordModel
@{
    ViewBag.Title = string.Empty;
}

@section Subtitle {
    @Html.Partial("_MinistryCouncilHeaderPartial")
}

<div class="h2 row">
    <div class="col-md-offset-2 col-md-10">Забравена парола?</div>
</div>
<div class="row h4">
    <div class="col-md-offset-2 col-md-10">Въведете своя e-mail адрес или потребителско име</div>
</div>

@using (Html.BeginForm("ForgotPassword", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4" title="Ако сте получили кратко потребителко име, въведете него вместо e-mail адреса си.">
                    <span class="glyphicon glyphicon-info-sign text-info"></span>
                    @Html.DisplayNameFor(m => m.UserName)
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Изпращане на инструкция" class="btn btn-primary col-md-12" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
