@model Kontrax.Regux.Model.Account.LoginModel

@{
    ViewBag.Title = string.Empty;
}

@section Subtitle {
    @Html.Partial("_MinistryCouncilHeaderPartial")
}

<div class="h2 row">
    <div class="col-md-offset-2 col-md-10">Вход</div>
</div>

@using (Html.BeginForm("Login", null, new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4" title="Ако сте получили кратко потребителко име, въведете него вместо e-mail адреса си.">
                    <span class="glyphicon glyphicon-info-sign text-info"></span>
                    @Html.DisplayNameFor(m => m.UserName)
                </label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                </div>
            </div>
            @* Няма смисъл да се усложнява екранът за вход. Винаги се ползва persistent cookie.
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Вход" class="btn btn-primary col-md-12" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Искам да ползвам системата, но нямам профил.", "Register")<br />
            @Html.ActionLink("Забравих си паролата.", "ForgotPassword") 
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
