@model Kontrax.Regux.Model.Call.RequestFormModel

@{
    ViewBag.Title = Model.Root != null ? Model.Root.Title : "Това вероятно е помощна схема";
}

@section Subtitle {
    @Html.ActionLink("Назад към списъка с услуги", "Index")
}


@if (!string.IsNullOrEmpty(@Model.Warning))
{
    <div class="alert alert-warning">@Html.DisplayFor(model => model.Warning)</div>
}

@if (Model.Root != null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.EditorFor(model => model.Root)


            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-primary col-md-12" value="Справка" />
                </div>
            </div>
        </div>
    }
}

<pre>@Model.XsdDescription</pre>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
