@model Kontrax.Regux.Public.Portal.Models.ComplaintModel
@using BotDetect.Web.Mvc;

<div class="container body-content">
    <h2 class="panel-heading">Форма за подаване на сигнал</h2>
    @using (Html.BeginForm("Create", "Complaint", FormMethod.Post, new { id = "complaintForm" }))
    {
        <div class="form-group row" style="margin-top:20px;">
            <label class="col-sm-2 col-form-label">Услуга</label>
            @*@Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-9">@Html.DropDownListFor(model => model.ServiceId, Model.Services, htmlAttributes: new { @class = "form-control chosen-search-select" })</div>
        </div>

        <div class="form-group row" style="margin-top:20px;">
            <label class="col-sm-2 col-form-label">Администрация</label>
            @*@Html.LabelFor(model => model.AdministrationId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-9">@Html.DropDownListFor(model => model.AdministrationId, Model.Administrations, null, new { @class = "form-control chosen-search-select" })</div>
        </div>
            <div class="form-group row" style="margin-top:20px;">
                <label class="col-sm-2 col-form-label">Служител</label>
                @*@Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-9">@Html.DropDownListFor(model => model.EmployeeId, Model.Employees, null, new { @class = "form-control chosen-search-select" })</div>
            </div>
            <div class="form-group row" style="margin-top:20px;">
                <label class="col-sm-2 col-form-label">Време на събитието</label>
                @*@Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-9">@Html.EditorFor(model => model.IncidentDateTime, new { htmlAttributes = new { @class = "form-control datetimepicker" } })</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Описание</label>
                @*@Html.LabelFor(model => model.SenderNote, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.SenderNote, new { @class = "form-control" })
                </div>
            </div>
            @*<div class="form-group row">
                <label class="col-sm-2 col-form-label">Анонимно</label>
                <div class="col-md-1">
                    @Html.CheckBoxFor(model => model.IsAnonymous, new { @class = "form-control form-check-input", @onclick = "MakeAnonymous()" })
                </div>
                <input id="getAnonymous" value="false" hidden="hidden" />
            </div>*@

            <hr />
            <div id="personalInfo">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Вид идентификатор</label>
                    @*@Html.LabelFor(model => model.SenderIdentifier, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-4">@Html.DropDownListFor(model => model.SenderPidTypeCode, Model.PidTypes, null, new { @class = "form-control chosen-select no-search" })</div>
                    <div class="col-md-5">@Html.EditorFor(model => model.SenderIdentifier, new { htmlAttributes = new { @class = "form-control" } })</div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Данни за контакт</label>
                    @*@Html.LabelFor(model => model.SenderNote, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.SenderContact, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <hr />

            <div class="form-group row" style="margin-top:20px;">
                <label class="col-sm-2 col-form-label">Попълнете CAPTCHA</label>
                @*@Html.LabelFor(model => model.SenderNote, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @{ MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha"); }
                <div class="col-md-6">
                    @Html.TextBox("CaptchaCode", null, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.Captcha(exampleCaptcha)
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary">Изпрати</button>
                </div>
            </div>
                    }
</div>

@section Scripts{
    <script>
        function MakeAnonymous() {
            var getAnonymous = $('#getAnonymous');
            value = getAnonymous.val() === 'true' || (getAnonymous.val() === 'false' ? false : getAnonymous.val());

            // Ако не е анонимен сигнал
            if (value) {
                value = false;
                getAnonymous.val(value);
                $('#personalInfo').show();
            }
            // Ако е анонимен сигнал
            else {
                value = true;
                getAnonymous.val(value);
                $('#personalInfo').hide();
            }
        }

        $(document).ready(function () {
            $('.chosen-search-select').chosen();
            $('.chosen-select').chosen({
                "disable_search": true
            });
            $('.datetimepicker').datetimepicker({
                locale: 'bg'
            });
        });
    </script>
}