<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Публичен портал</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        // Глобална променлива за складиране на разширения, специфични за проекта.
        var app = {};
        // Преизползване на .net ресурси в js.
        @*app.EmptyField = '@EmptyField';*@
        @*app.PleaseSelect = '@PleaseSelect';*@
    </script>
    <link href="@Url.Content("~/" + BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl)" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    @*<link rel="home" id="applicationBaseUrl" href="@Url.Content("~/")" />*@
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/favicon-16x16.png")">
</head>
<body>
    <div class="navbar navbar-fixed-top top-menu">
        @if (Request.IsAuthenticated)
        {
            <div class="container">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand"> <span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Сигнал", "Create", "Complaint")</li>
                        <li>@Html.ActionLink("Предложение", "Create", "ServiceProposal")</li>
                        <li>@Html.ActionLink("История", "Details", "Complaint")</li>
                        <li>@Html.ActionLink("Статистическа справка", "UsageStats", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        }
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer class="footer-bottom">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="~/Content/Images/eu_esf.png" class="img-responsive" />
            </div>
            <div class="col-md-4"><br />Трансформация на модела на<br />административно обслужване </div>
            <div class="col-md-3 col-md-offset-1">
                <img src="~/Content/Images/logo-bg-right-no-back.png" class="img-responsive" />
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/utils")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
